*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    
}

li{
    list-style: none    ;
}
a{
    color: black;
    text-decoration: none;
}

nav {
    height: 13vh;

    background-image: linear-gradient(to right,#c5e5ff, #3cb8ff);
}

nav .menu-main{

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 25px;

}

nav .opcions-main ul{
    display: flex;
}

nav .opcions-main ul li:hover{
    display: flex;

    background-color: rgba(255, 255, 255, 0.745);
}

nav .opcions-main ul li{
    padding: 15px;

    background-color: rgba(255, 255, 255, 0.530);
}

nav .logo{
    
    display: flex;
    align-items: center;
    margin-left: 20px;

}

nav .logo img{
    width: 9vh;
    height: 8vh;;
}

.linia{
    background-color: black;
    height: 1vh;
}

.filtre_mat{
    margin: 50px 120px;
}

.filtre_mat form{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filtre_mat a{
    background-color: rgb(160, 200, 235);
    color: white;

    border: none;

    padding: 10px;
    margin: 0px 10px;
    font-size: 18px;
    font-style: oblique;
}

.filtre_mat #buscar{
    width: 400px;
}

#titol{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin: 0px 120px;
}
#titol th{
    padding-right: 20px;
    font-size: 40px;
    border-bottom: 8px solid #3cb8ff;
}

.materials{
    background-color: white;
    display: flex;

    padding: 20px;
    margin: 20px;
    border-radius: 2px;
}

.carta-prod{
    margin: 0 8px;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


.carta-prod img{
    width: 400px;
    height: 500px;
}

.carta-prod h1{
    font-size: 15px;
}

.carta-prod .id {
    border: none;
    outline: 0;
    padding: 10px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.preu {
    color: grey;
    font-size: 22px;
}

.taula #info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


